.Home {
  background-color: rgb(248, 234, 213);
}

.Home-bg {
  background-image: url(./images/homeBackground2.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  width: auto;
  height: 41rem;
}

.Home-title {
  margin-top: 21.5rem;
}

.Home-ourTitle {
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-shadow: 1px 1px 1px rgb(248, 234, 213);
}

.Home-p {
  font-size: 20px;
  font-weight: 250;
  color: white;
}

.Home-spacing {
  opacity: 0;
}
