.PriceAndPlans {
  margin-top: 7rem;
}

.PriceAndPlans-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PriceAndPlans-t {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-bottom: 3rem;
  font-family: Courier New, Courier, monospace;
}
.PriceAndPlans-sub {
  font-size: 18px;
  color: #da4343c5;
}

/* question section */
.PriceAndPlans-q {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
