.PriceAndPlans-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .PriceAndPlans-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.PriceAndPlans-t {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-bottom: 2rem;
  font-family: Courier New, Courier, monospace;
}

.PriceAndPlans-m-w {
  height: 195px;
}
